<div class="features-wrapper">
  <div class="features-header">
    <h2>{{'features.header' | translate}}</h2>
  </div>
  <div class="feature-grid">
    <div class="feature-item">
      <div class="img-wrapper">
        <img class="header-img" src="https://dummyimage.com/400x400/e0e0e0/fff.png" alt="Image"/>
      </div>
      <div class="text-wrapper">
        <div class="icon">
          <img src="https://dummyimage.com/42x42/e0e0e0/fff">
        </div>
        <div class="text-container">
          <h5>{{'features.feature1.header' | translate}}</h5>
          <p>{{'features.feature1.description' | translate}}</p>
        </div>
      </div>
    </div>

    <div class="feature-item">
      <div class="img-wrapper">
        <img class="header-img" src="https://dummyimage.com/400x400/e0e0e0/fff.png" alt="Image"/>
      </div>
      <div class="text-wrapper">
        <div class="icon">
          <img src="https://dummyimage.com/42x42/e0e0e0/fff">
        </div>
        <div class="text-container">
          <h5>{{'features.feature2.header' | translate}}</h5>
          <p>{{'features.feature2.description' | translate}}</p>
        </div>
      </div>
    </div>

    <div class="feature-item">
      <div class="img-wrapper">
        <img class="header-img" src="https://dummyimage.com/400x400/e0e0e0/fff.png" alt="Image"/>
      </div>
      <div class="text-wrapper">
        <div class="icon">
          <img src="https://dummyimage.com/42x42/e0e0e0/fff">
        </div>
        <div class="text-container">
          <h5>{{'features.feature3.header' | translate}}</h5>
          <p>{{'features.feature3.description' | translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="call-to-action">
    <h2>{{'features.download-now' | translate}}</h2>
    <div class="download-buttons">
      <a class="margin-right" href="" rel="noopener">
        <img src="assets/icons/app_store.svg" alt="App Store"/>
      </a>
      <a href="" rel="noopener">
        <img src="assets/icons/google_play.svg" alt="Play Store"/>
      </a>
    </div>
  </div>

  <div class="large-feature">
    <div class="img-wrapper pr">
      <img src="https://dummyimage.com/500x500/e0e0e0/fff">
    </div>
    <div class="feature-content">
      <h3>{{'features.utility1.header' | translate}}</h3>
      <p>{{'features.utility1.content' | translate}}</p>
    </div>
  </div>

  <div class="large-feature inverted">
    <div class="feature-content">
      <h3>{{'features.utility2.header' | translate}}</h3>
      <p>{{'features.utility2.content' | translate}}</p>
    </div>
    <div class="img-wrapper pl">
      <img src="https://dummyimage.com/500x500/e0e0e0/fff">
    </div>
  </div>
</div>
