<div class="features-wrapper">
  <div class="features-header">
    <h2>Features</h2>
  </div>
  <div class="feature-grid">
    <div class="feature-item">
      <img class="header-img" src="https://dummyimage.com/400x400/e0e0e0/fff.png" alt="Image"/>
      <div class="text-wrapper">
        <div class="icon">
          <img src="https://dummyimage.com/42x42/e0e0e0/fff">
        </div>
        <div class="text-container">
          <h5>Voorraadbeheer</h5>
          <p>
            Houd je huidige voorraad van je product bij. Gestreepte producten worden automatisch geüpdatet in de
            voorraad!
          </p>
        </div>
      </div>
    </div>

    <div class="feature-item">
      <img class="header-img" src="https://dummyimage.com/400x400/e0e0e0/fff.png" alt="Image"/>
      <div class="text-wrapper">
        <div class="icon">
          <img src="https://dummyimage.com/42x42/e0e0e0/fff">
        </div>
        <div class="text-container">
          <h5>Transacties</h5>
          <p>
            Alles wat je streept wordt in een overzicht getoond zodat je te allen tijde weet wat gestreept is!
          </p>
        </div>
      </div>
    </div>

    <div class="feature-item">
      <img class="header-img" src="https://dummyimage.com/400x400/e0e0e0/fff.png" alt="Image"/>
      <div class="text-wrapper">
        <div class="icon">
          <img src="https://dummyimage.com/42x42/e0e0e0/fff">
        </div>
        <div class="text-container">
          <h5>Verrekeningen</h5>
          <p>
            Verdeel de kosten die je gemaakt hebt met je huisgenoten zodat je niet voor onvoorziene kosten komt te
            staan!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="call-to-action">
    <h2>Download nu</h2>
    <div class="download-buttons">
      <a class="margin-right" href="" rel="noopener">
        <img src="assets/icons/app_store.svg" alt="App Store"/>
      </a>
      <a href="" rel="noopener">
        <img src="assets/icons/google_play.svg" alt="Play Store"/>
      </a>
    </div>
  </div>

  <div class="large-feature">
    <img src="https://dummyimage.com/500x500/e0e0e0/fff">
    <div class="feature-content">
      <h3>Overal te gebruiken</h3>
      <p>
        De oude manier van strepen had veel nadelen. Soms vergeet je te strepen of is de hele streeplijst kwijt
        of beschadigd. De consequenties zijn soms best groot omdat je de kosten niet meer eerlijk kan verdelen.
        Met Streepn kun je altijd bij je streeplijst! Of je nou op de wc zit of bij de koelkast staat,
        als jij internetverbinding hebt kun je strepen! Je hebt geen risico op een beschadigde streeplijst sinds deze
        veilig in de cloud is opgeslagen.
      </p>
    </div>
  </div>

  <div class="large-feature">
    <div class="feature-content">
      <h3>Altijd up-to-date</h3>
      <p>
        Streepn maakt gebruik van de laatste technologische innovaties om jouw de best mogelijke ervaring te geven in
        de app. Alle onderdelen van de app zijn met elkaar geïntegreerd, waardoor jij altijd de meest up-to-date versie
        van jouw administratie hebt. Streep je een product tijdens een transactie, dan ziet iedereen gelijk de
        geüpdatete
        voorraadstand en de nieuwe saldos.
      </p>
    </div>
    <img src="https://dummyimage.com/500x500/e0e0e0/fff">
  </div>
</div>
