<div class="features-wrapper">
    <div class="features-header">
        <h2>{{'features.header' | translate}}</h2>
    </div>
    <div class="feature-grid">
        <div class="feature-item">
            <div class="img-wrapper">
                <img class="header-img" src="assets/images/stock.png" alt="Stock Management"/>
            </div>
            <div class="text-wrapper">
                <div class="icon">
                    <img src="assets/icons/inventory.svg" alt="Inventory Icon">
                </div>
                <div class="text-container">
                    <h5>{{'features.feature1.header' | translate}}</h5>
                    <p>{{'features.feature1.description' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="feature-item">
            <div class="img-wrapper">
                <img class="header-img" src="assets/images/transactions.png" alt="Transactions Overview"/>
            </div>
            <div class="text-wrapper">
                <div class="icon">
                    <img src="assets/icons/receipt.svg" alt="Receipt Icon">
                </div>
                <div class="text-container">
                    <h5>{{'features.feature2.header' | translate}}</h5>
                    <p>{{'features.feature2.description' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="feature-item">
            <div class="img-wrapper">
                <img class="header-img" src="assets/images/settlements.png" alt="Settlements"/>
            </div>
            <div class="text-wrapper">
                <div class="icon">
                    <img src="assets/icons/calculator.svg" alt="Calculator Icon">
                </div>
                <div class="text-container">
                    <h5>{{'features.feature3.header' | translate}}</h5>
                    <p>{{'features.feature3.description' | translate}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="call-to-action">
        <h2>{{'features.download-now' | translate}}</h2>
        <div class="download-buttons">
            <a href="https://apps.apple.com/us/app/streepn/id1599493986" class="margin-right" rel="noopener">
                <img src="assets/icons/app_store.svg" alt="App Store"/>
            </a>
            <a href="https://play.google.com/store/apps/details?id=nl.streepn.app" rel="noopener">
                <img src="assets/icons/google_play.svg" alt="Play Store"/>
            </a>
        </div>
    </div>

    <div class="large-feature">
        <div class="img-wrapper pr">
            <img src="assets/images/everywhere_in_hand.jpg" alt="Phone in hand with new transaction page">
        </div>
        <div class="feature-content">
            <h3>{{'features.utility1.header' | translate}}</h3>
            <p>{{'features.utility1.content' | translate}}</p>
        </div>
    </div>

    <div class="large-feature inverted">
        <div class="feature-content">
            <h3>{{'features.utility2.header' | translate}}</h3>
            <p>{{'features.utility2.content' | translate}}</p>
        </div>
        <div class="img-wrapper pl">
            <img src="assets/images/latest_tech.jpg" alt="Phone in hand at desk">
        </div>
    </div>
</div>
