@import "src/theme/mixins/breakpoints";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--screen-xl-min);
  width: 100%;
  padding: 64px 32px;

  .features-header {
    text-align: center;
  }
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  column-gap: 16px;
  justify-items: center;
  padding-bottom: 32px;

  .feature-item {
    .img-wrapper {
      .header-img {
        border-radius: 16px;
      }
    }

    .text-wrapper {
      padding: 20px 8px 8px;
      display: flex;
      flex-direction: row;

      .icon {
        min-width: 42px;
        min-height: 42px;
        max-width: 42px;
        max-height: 42px;
        padding: 5px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .text-container {
        margin-left: 12px;

        h5 {
          font-weight: 600;
          line-height: 42px;
          margin-bottom: 0;
        }

        p {
          margin-top: 0;
          font-size: 14px;
        }
      }
    }
  }

  @include md {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    grid-row-gap: 64px;

    .feature-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img-wrapper, .text-wrapper {
        max-width: 400px;
      }
    }
  }
}

.large-feature {
  padding-top: 64px;
  display: flex;
  flex-direction: row;

  .img-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &.pl {
      padding-left: 32px;
    }

    &.pr {
      padding-right: 32px;
    }

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 32px;
    }
  }

  .feature-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include sm {
    flex-direction: column;
    text-align: center;

    .img-wrapper, .feature-content {
      width: 100%;
    }

    .img-wrapper {
      padding-bottom: 16px;

      &.pl {
        padding-left: 0;
      }

      &.pr {
        padding-right: 0;
      }
    }

    &.inverted {
      flex-direction: column-reverse;
    }
  }
}

.call-to-action {
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: var(--color-neutral-200);
  padding: 32px;

  h2 {
    color: var(--color-neutral-700);
    line-height: 3.5rem;
    margin-bottom: 0;
    margin-right: 32px;
  }

  .download-buttons {
    display: flex;

    a.margin-right {
      margin-right: 16px;
    }

    img {
      height: 3.5rem;
      width: auto;
    }
  }

  @include sm {
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
      margin-right: 0;
    }
  }
}
