@import "src/theme/mixins/breakpoints";

:host {
  display: flex;
  background: rgba(var(--color-primary-rgb), .05);
  height: 600px;
  width: 100%;
  justify-content: center;
}

.hero-wrapper {
  padding: 0 60px 0 60px;
  width: 100%;
  max-width: var(--screen-xl-min);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 420px;

  h1 {
    font-weight: 500;
    font-size: 52px;
    color: var(--color-neutral-800);
  }

  h4 {
    color: var(--color-neutral-700);
    font-weight: 400;
  }

  .download-buttons {
    display: flex;
    padding-top: 1rem;

    a.margin-right {
      margin-right: 16px;
    }

    img {
      height: 3.5rem;
      width: auto;
    }
  }

  @include sm {
    h1 {
      font-size: 32px;
    }

    h4 {
      font-size: 16px;
    }

    .download-buttons {
      flex-direction: column;

      a.margin-right {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }

  @include md {
    text-align: center;

    .download-buttons {
      justify-content: center;
    }
  }
}

.image-container {
  height: 600px;
  width: calc(100% - 420px);
  max-width: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-image {
    margin-bottom: -100px;
    margin-right: -50px;

    animation: move-up;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;

    height: 100%;
    width: auto;
    object-fit: cover;
  }

  @include md {
    display: none;
  }
}

@keyframes move-up {
  from {
    margin-bottom: -150px;
    opacity: 0;
  }
  to {
    margin-bottom: -100px;
    opacity: 1;
  }
}
