<section class="hero-wrapper">
  <div class="text-container">
    <h1>{{'landing.hero.header' | translate}}</h1>
    <h4>{{'landing.hero.subheader' | translate}}</h4>
    <div class="download-buttons">
      <a href="https://apps.apple.com/us/app/streepn/id1599493986" class="margin-right" rel="noopener">
        <img src="assets/icons/app_store.svg" alt="App Store">
      </a>
      <a href="https://play.google.com/store/apps/details?id=nl.streepn.app" rel="noopener">
        <img src="assets/icons/google_play.svg" alt="Play Store">
      </a>
    </div>
  </div>
  <div class="image-container">
    <img class="hero-image" src="assets/images/app-hero.png" alt="Hero Image">
  </div>
</section>
