<div class="wrapper">
  <!-- Source: https://technologytemplate.webflow.io/ -->

  <section id="typography-guide">
    <h1>Heading One - Aa Bb Cc Dd</h1>
    <h2>Heading Two - Aa Bb Cc Dd</h2>
    <h3>Heading Three - Aa Bb Cc Dd</h3>
    <h4>Heading Four - Aa Bb Cc Dd</h4>
    <h5>Heading Five - Aa Bb Cc Dd</h5>
    <h6>Heading Six - Aa Bb Cc Dd</h6>
    <p class="small">Paragraph Small<br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
      cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh
      et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus.
    </p>
    <p>Paragraph Default<br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
      cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh
      et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus.
    </p>
    <p class="large">Paragraph Large<br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
      cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh
      et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus.
    </p>
    <a href="#">Link to somewhere...</a>
    <p><strong>Strong Text</strong></p>
    <p><em>Italic Text</em></p>
    <blockquote>
      “This is a block quote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida purus urna, ipsum eu
      morbi in enim. Amet quis
      dignissim eu pulvinar nunc, risus tincidunt nulla mi. Pharetra odio.”
    </blockquote>

    <span>Bullet List</span>
    <ul>
      <li *ngFor="let number of [1,2,3]">List Item {{number}}</li>
    </ul>

    <span>Numbered List</span>
    <ol>
      <li *ngFor="let number of [1,2,3]">List Item {{number}}</li>
    </ol>

  </section>

  <section id="color-guide">
    <h2>Colors</h2>
    <div id="container">
      <div id="primary">Primary</div>
      <div id="secondary">Secondary</div>
      <div id="tertiary">Tertiary</div>
      <div id="success">Success</div>
      <div id="warning">Warning</div>
      <div id="danger">Danger</div>
      <div id="neutral-800">Neutral 800</div>
      <div id="neutral-700">Neutral 700</div>
      <div id="neutral-600">Neutral 600</div>
      <div id="neutral-500">Neutral 500</div>
      <div id="neutral-400">Neutral 400</div>
      <div id="neutral-300">Neutral 300</div>
      <div id="neutral-200">Neutral 200</div>
      <div id="neutral-100">Neutral 100</div>
    </div>
  </section>

  <section id="button-guide">
    <h2>Buttons</h2>
    <div>
      <a class="button primary small">Small</a>
      <a class="button primary">Default</a>
      <a class="button primary large">Large</a>
      <a class="button outline small">Small</a>
      <a class="button outline">Default</a>
      <a class="button outline large">Large</a>
    </div>
  </section>

  <section id="cards-guide">
    <h2 id="header">Cards</h2>
    <div class="card-wrapper">
      <div class="card default">
        <h2>Card Title</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium donec lobortis quam sit ultrices bibendum
        hendrerit. At.
      </div>
    </div>
  </section>

  <section id="forms-guide">
    <h2>Inputs</h2>

    <h6>Checkboxes</h6>
    <div>
      <input class="checkbox" name="unchecked" type="checkbox"/>
      <span>Unchecked</span>
    </div>

    <div>
      <input class="checkbox" name="checked" type="checkbox" checked/>
      <span>Checked</span>
    </div>

    <div>
      <input class="checkbox switch" name="checked" type="checkbox"/>
      <span>Switch Off</span>
    </div>

    <div>
      <input class="checkbox switch" name="checked" type="checkbox" checked/>
      <span>Switch On</span>
    </div>


    <h6>Radios</h6>
    <div>
      <input class="radio" name="unselected" type="radio"/>
      <span>Unselected</span>
    </div>

    <div>
      <input class="radio" name="selected" type="radio" checked/>
      <span>Selected</span>
    </div>

    <h6>Selects</h6>
    <select name="select" class="select" required>
      <option class="placeholder" value="">Select one...</option>
      <option value="First">First Choice</option>
      <option value="Second">Second Choice</option>
      <option value="Third">Third Choice</option>
    </select>

    <h6>Fields</h6>
    <input type="text" class="input" placeholder="First Name"/>

  </section>

</div>
