<div class="nav-section">
  <a routerLink="/" class="logo-wrapper">
    <img src="assets/icons/logo_bg_round.svg" alt="Streepn logo"/>
  </a>
</div>
<div class="nav-section">
  <a routerLink="/about" routerLinkActive="active" class="bottom-border">About</a>
  <a routerLink="/features" routerLinkActive="active" class="bottom-border">Features</a>
  <a routerLink="/blog" routerLinkActive="active" class="bottom-border">Blog</a>
  <a routerLink="/contact" routerLinkActive="active" class="bottom-border">Contact</a>
</div>
<div class="nav-section">
</div>
