<div class="nav-main">
  <div class="nav-section">
    <a routerLink="/" class="logo-wrapper">
      <!--    <img src="assets/icons/logo_bg_round.svg" alt="Streepn logo"/>-->
      <span>{{'app-name' | translate}}.</span>
    </a>
  </div>
  <div class="nav-section middle">
    <a routerLink="/features" routerLinkActive="active" class="bottom-border">{{'navigation.features' | translate}}</a>
    <!--  <a routerLink="/blog" routerLinkActive="active" class="bottom-border">{{'navigation.blog' | translate}}</a>-->
    <a routerLink="/about" routerLinkActive="active" class="bottom-border">{{'navigation.about' | translate}}</a>
    <a routerLink="/contact" routerLinkActive="active" class="bottom-border">{{'navigation.contact' | translate}}</a>
  </div>
  <div class="nav-section">
<!--    <a (click)="openMenu()" class="menu-bar" *ngIf="!barHidden">-->
<!--      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline&#45;&#45;fa fa-bars fa-w-14"-->
<!--           role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">-->
<!--        <path fill="currentColor"-->
<!--              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>-->
<!--      </svg>-->
<!--    </a>-->
    <div class="menu-bar" *ngIf="!barHidden" (click)="openMenu($event)">
      <input type="checkbox" id="menu" [(ngModel)]="menuVisible">
      <label for="menu" class="icon">
        <div class="menu"></div>
      </label>
    </div>
  </div>
</div>
<div class="nav-mobile" [ngClass]="menuVisible ? 'active' : ''">
  <a routerLink="/features" routerLinkActive="menu-active">{{'navigation.features' | translate}}</a>
  <!--  <a routerLink="/blog" routerLinkActive="active" class="bottom-border">{{'navigation.blog' | translate}}</a>-->
  <a routerLink="/about" routerLinkActive="menu-active">{{'navigation.about' | translate}}</a>
  <a routerLink="/contact" routerLinkActive="menu-active">{{'navigation.contact' | translate}}</a>
</div>
