<div class="nav-main">
  <div class="nav-section">
    <a routerLink="/" class="logo-wrapper">
      <img src="assets/icons/logo_bg_round.svg" alt="Streepn logo">
    </a>
  </div>
  <div class="nav-section middle">
    <a routerLink="/features" routerLinkActive="active" class="bottom-border">{{'navigation.features' | translate}}</a>
    <a routerLink="/about" routerLinkActive="active" class="bottom-border">{{'navigation.about' | translate}}</a>
    <a routerLink="/contact" routerLinkActive="active" class="bottom-border">{{'navigation.contact' | translate}}</a>
    <a href="https://medium.com/streepn" rel="external" class="bottom-border" target="_blank">{{'navigation.blog' | translate}}</a>
  </div>
  <div class="nav-section">
    <div class="menu-bar" *ngIf="!barHidden" (click)="openMenu($event)">
      <input type="checkbox" id="menu" [(ngModel)]="menuVisible">
      <label for="menu" class="icon">
        <div class="menu"></div>
      </label>
    </div>
  </div>
</div>
<div class="nav-mobile" [ngClass]="menuVisible ? 'active' : ''">
  <a routerLink="/features" routerLinkActive="menu-active">{{'navigation.features' | translate}}</a>
  <a routerLink="/about" routerLinkActive="menu-active">{{'navigation.about' | translate}}</a>
  <a routerLink="/contact" routerLinkActive="menu-active">{{'navigation.contact' | translate}}</a>
  <a href="https://medium.com/streepn" rel="external" routerLinkActive="menu-active" target="_blank">{{'navigation.blog' | translate}}</a>
</div>
