:host {
  z-index: 998;
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid rgba(25, 25, 25, 0.05);
}

div {
  display: flex;

  &.nav-section {
    height: 100%;
    align-items: center;
  }
}

a {
  display: flex;
  align-items: center;

  font-size: 16px;
  letter-spacing: 0;
  color: var(--color-neutral-700);
  text-decoration: none;
  font-weight: 500;
  margin-right: 32px;
  cursor: pointer;
  position: relative;
  height: 100%;
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.64, 0.04, 0, 1);

  &.logo-wrapper {
    width: 48px;
    height: 48px;
    margin-right: 0;
  }

  &.button {
    max-height: 56px;
    margin-right: 0;
  }

  &.active {
    color: var(--color-neutral-800);
    border-bottom: 4px solid var(--color-primary);
    border-bottom-width: calc(100% + 10px);
  }

  &.bottom-border {
    justify-content: center;

    &:hover {
      color: var(--color-neutral-800);
      border-bottom: 4px solid var(--color-primary);
      border-bottom-width: calc(100% + 10px);
    }
  }
}
