<div class="login-container">
  <div>
    <div>
      <img src="assets/icons/logo_bg_round.svg" alt="Streepn Logo"/>
    </div>
    <h2>Log in to Streepn</h2></div>
  <form>
    <div>
      <label for="email">Email</label>
      <input class="input" id="email" name="email" placeholder="name@streepn.nl" type="email" value=""></div>
    <div>
      <div>
        <label for="password">Password</label>
        <input class="input" id="password" name="password" placeholder="●●●●●●●●" type="password" value="">
        <div>
          <a routerLink="/forgot-password">Forgot password?</a>
        </div>
      </div>
      <div>Show</div>
    </div>
    <a type="submit">Log In</a>
  </form>
  <div>
    <a>Don't Have An Account?</a>
  </div>
</div>
