<img class="waves" src="assets/icons/waves.svg" alt="Waves"/>

<div class="contact-wrapper">
  <div class="contact-card">
    <h2>Neem contact op</h2>
    <p class="small">Ons team staat klaar om jouw vragen te beantwoorden.</p>

    <form>
      <div class="double-input-row">
        <div class="input-container margin-right">
          <label for="name">Naam</label>
          <input id="name" class="input"/>
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input id="email" class="input"/>
        </div>
      </div>
      <div class="message-row">
        <div>
          <label for="message">Vertel ons!</label>
          <textarea id="message" class="text-area"></textarea>
        </div>
      </div>
      <div class="checkbox-row">
        <input id="checkbox" class="checkbox" type="checkbox"/>
        <label for="checkbox">Ik ga ermee akkoord dat Streepn de gegevens die ik hierboven heb ingevuld mag gebruiken om contact met mij op te nemen.</label>
      </div>
      <a class="button primary small" type="submit">Versturen</a>
    </form>
  </div>
</div>
