@import "src/theme/mixins/breakpoints";

:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.waves {
  position: absolute;
  opacity: .75;
  z-index: -1;
  min-height: 40vh;
  object-fit: cover;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  padding: 64px;
}

.contact-card {
  max-width: var(--screen-md-min);
  background-color: var(--color-neutral-100);
  padding: 32px;
  border-radius: 16px;
  box-shadow: rgba(var(--color-primary-rgb), 0.1) 5px 12px 32px 5px;

  h2 {
    text-align: center;
    margin-bottom: 8px;
  }

  p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
  }
}

form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a.button {
    margin-top: 16px;
    padding: 16px 48px;
  }
}

.double-input-row {
  display: flex;
  flex-direction: row;
  width: 100%;

  .margin-right {
    margin-right: 16px;
  }

  .input-container {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.message-row {
  width: 100%;

  margin-top: 16px;

}

.checkbox-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 12px;

  input {
    min-width: 21px;
    min-height: 21px;
    margin-right: 8px;
  }
}

p.success {
  color: var(--color-primary);
}

a.button {
  min-width: 120px;
  display: flex;
  justify-content: center;
}

.loader {
  border: 3px solid var(--color-primary-tint);
  border-top: 3px solid var(--color-neutral-100);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@include sm {

  h2 {
    font-size: 24px;
  }

  form {
    padding: 16px 0;
  }

  .contact-wrapper {
    padding: 32px;
  }

  .double-input-row {
    flex-direction: column;

    .margin-right {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}
