@import "src/theme/mixins/breakpoints";

:host {
  display: flex;
  padding: 128px 32px;
  flex-direction: column;
  min-height: 600px;
  width: 100%;
  align-items: center;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--screen-sm-min);
  text-align: center;
}

.content-wrapper {
  padding: 60px;
  width: 100%;
  max-width: var(--screen-xl-min);
  display: flex;

  .image-wrapper {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 0 32px;
  }

  @include sm {
    flex-direction: column;

    .image-wrapper, .text-container {
      width: 100%;
    }

    .image-wrapper {
      padding-bottom: 16px;
      img {
        max-width: 60%;
      }
    }

    .text-container {
      padding: 0;
      text-align: center;
    }

    padding: 60px 0;

    &.inverted {
      flex-direction: column-reverse;
    }
  }
}

