<div class="header-wrapper">
  <h2>{{'landing.how-it-works.title' | translate}}</h2>
  <p>{{'landing.how-it-works.description' | translate}}</p>
</div>

<div class="content-wrapper">
  <div class="image-wrapper">
    <img src="assets/icons/stock-management.svg" alt="Transactions"/>
  </div>
  <div class="text-container">
    <h3>{{'landing.how-it-works.stock-management.title' | translate}}</h3>
    <p>{{'landing.how-it-works.stock-management.description' | translate}}</p>
  </div>
</div>

<div class="content-wrapper inverted">
  <div class="text-container">
    <h3>{{'landing.how-it-works.transactions.title' | translate}}</h3>
    <p>{{'landing.how-it-works.transactions.description' | translate}}</p>
  </div>
  <div class="image-wrapper">
    <img src="assets/icons/do-transactions.svg" alt="Transactions"/>
  </div>
</div>

<div class="content-wrapper">
  <div class="image-wrapper">
    <img src="assets/icons/settlements.svg" alt="Transactions"/>
  </div>
  <div class="text-container">
    <h3>{{'landing.how-it-works.settlements.title' | translate}}</h3>
    <p>{{'landing.how-it-works.settlements.description' | translate}}</p>
  </div>
</div>
