<div class="footer-wrapper">
  <div class="logo">
    <img src="assets/icons/logo_bg_round.svg" alt="Streepn logo"/>
  </div>

  <div class="links">
    <a routerLink="/blog">Blog</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/legal">Algemene Voorwaarden</a>
    <a routerLink="/privacy">Privacyverklaring</a>
  </div>

  <div class="socials">
    <a href="mailto:support@streepn.nl"><img src="assets/icons/mail-outline.svg" alt="Mail Us"></a>
    <a href="https://www.instagram.com/streepn/"><img src="assets/icons/logo-instagram.svg" alt="Instagram"></a>
    <a href="https://www.linkedin.com/company/streepn"><img src="assets/icons/logo-linkedin.svg" alt="LinkedIn"></a>
  </div>
</div>

<div class="footer-disclosure">
  <p>© 2021 Streepn B.V.</p>
</div>
