:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.security {
  display: flex;
  padding: 128px 0;
  flex-direction: column;
  min-height: 600px;
  width: 100%;
  align-items: center;

  .content-wrapper {
    padding: 60px;
    width: 100%;
    max-width: var(--screen-xl-min);
    display: flex;

    .image-wrapper {
      width: 35%;
    }

    .text-container {
      width: 65%;
      padding: 0 32px;
    }
  }
}

.news {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  text-align: center;
  align-items: center;
  padding: 48px 0;
  background: var(--color-neutral-200);
  width: 100%;

  h2 {
    color: var(--color-neutral-700);
  }

  .items {
    width: 100%;
    height: 100px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));

    a {
      svg {
        width: 100px;
      }

      &:hover {
        .tubantia {
          fill: #D10A10;
        }
      }
    }
  }
}

