/* You can add global styles to this file, and also import other style files */
@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';

body {
  min-height: 100vh;

  app-root {
    min-height: 100vh;
  }
}

.grecaptcha-badge { visibility: hidden; }
