:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  width: 100%;

  .invite-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: var(--screen-sm-min);

    img.logo {
      width: 96px;
      margin-bottom: 16px;
    }

    .copy-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 256px;
      border-radius: 8px;
      height: 64px;
      overflow: hidden;
      border: var(--color-neutral-600) solid 2px;

      .code {
        flex-grow: 1;
        padding: 0 16px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
      }

      .divider {
        border-left: var(--color-neutral-600) solid 2px;
        height: 100%;
      }

      .copy-button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 64px;
        height: 64px;
        background: var(--color-neutral-500);

        &:hover {
          background: rgba(var(--color-primary-rgb), .75);
        }

        &:active {
          background: var(--color-primary);
        }

        svg {
          height: 32px;
          width: 32px;
          color: var(--color-neutral-100);
        }
      }

      &.copied {
        border: var(--color-primary) solid 2px;

        .divider {
          border-left: var(--color-primary) solid 2px;
        }

        .copy-button {
          background: var(--color-primary);
        }
      }
    }

    .download-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding-bottom: 32px;

      a.margin-right {
        margin-right: 16px;
      }

      img {
        height: 3rem;
        width: auto;
      }
    }

    p {
      margin-top: 4px;
    }
  }
}
